.main-CV{
    .CV{
        width: 98%;
        margin: 0 auto;
        padding: 30px 10px;
        max-width: 1440px;     
    }
    .Cv-img{
        width: 100%;
        margin:0 auto;
        display: flex;
        justify-content: center;
        padding: 20px 50px;
         max-width: 700px;
    }
}