.feild-sec{
    width: 70%;
    margin:20px auto;
}
.from-btn{
    width: 100%;
    max-width: 220px;
    margin:20px auto;
    color: #4B535B;
    display: flex;
    justify-content: center;
}
.input-feild{
    width: 100%;
    padding: 10px;
    border: 2px solid skyblue;
    padding:10px 20px;
    border-radius: 8px;
    font-family: "Assistant", sans-serif;
  font-family: "Rajdhani", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.input-feild:active,
.input-feild:focus,
.text-feild:active,
.text-feild:focus,
.btn-comp:active,
.btn-comp:focus{
    border: 0;
    outline: 0;
}
.text-feild{
    width: 100%;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 8px;
    font-family: "Assistant", sans-serif;
  font-family: "Rajdhani", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn-comp{
    
    width: 100%;
    max-width: 120px;
    padding: 10px;
    border: 0;
    display: flex;
    margin: 0px 10px;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    background-color: #4B535B;
    font-family: "Assistant", sans-serif;
   font-family: "Rajdhani", sans-serif;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    @media only screen and (max-width: 600px) {
            max-width: 100%;
            margin:0
        }
}
.table{
border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

@media only screen and (max-width:600px){
    .feild-sec,.from-btn{
        width: 100%;
            max-width: 100%;
        
    }
    
}