.modal-header button{
    border:0;
    background-color: white;
}
.whats-app-icon{
    padding-right: 10px;
    
}
.whats-app-btn{
    @media only screen and (max-width: 600px) {
            width: 100%
        }
}