.main-contact{
    margin-left: 300px;
    
      @media only screen and (max-width: 768px) {
        margin-left: 0px;
      }
    .contact{
        width: 98%;
        margin: 0px auto;
        padding: 30px 10px;
        max-width: 1440px;
    }
       
    .contact-feild{
      padding-bottom: 30px;
        .wrap-btn {
          display: flex;
          align-items: center;
          padding: 0 8px;
          @media only screen and (max-width: 600px) {
            flex-direction: column;
            }
          }
          .sec-call{
            @media only screen and (max-width: 600px) {
              width:100%
              }
          }
                    .whasts-sec{
@media only screen and (max-width: 600px) {
    width: 100%
  }
                    }

    }
   .sec-contact{
 display: flex;
 justify-content: space-between;
   }
  
   .cal-sec{
    border: none;
    border-radius: 5px;
    color: white;
   padding: 8px 12px;
    @media only screen and (max-width: 600px) {
        width: 100%
      }
   
   }
   .cal-sec span{ 
    padding-left:  10px;
    color: #fff;
   }
    @media (max-width:600px) {
      
           .resclass{
            margin:0 auto;
           }
    }
}