/* @import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap"); */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  background-color: #353333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     color: #fff;
  
}

p {
  font-family: 'Assistant', sans-serif;
  font-family: 'Climate Crisis', cursive;
  font-size: 20px;
}
#navigation > div:hover {
  text-decoration: underline;
}

#navigation > div .active {
  color: #0693e3;
}
#navigation > div {
  font-size: 16px;
  font-family: 'Climate Crisis', cursive;
}
h1 {
  color: #fff;
  font-family: 'Climate Crisis', cursive;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
h2 {
  color: #fff;
  font-family: 'Climate Crisis', cursive;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 0;
}
h3 {
  color: #61dbfb;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  font-size: 60px;
}
h4 {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  font-size: 24px;
}
.progres {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--red);
  transform-origin: 0%;
  z-index: 5000;
}
label {
  font-size: 18px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}
.grade {
  color: #0693e3;
  font-family: "Satisfy", cursive;
  padding: 10px 0;
}
a {
  cursor: pointer;
}
@media (max-width:400px) {
  h1{
    font-size: 30px;
  }
  p{
    font-size: 16px;
  }
  h3{
    font-size: 24px;
  }
  
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
    .hero-sidebar {
      padding: 120px 0px 20px 0px;
      width: 300px;
      position: fixed;
      height: 100%;
      overflow: auto;
      background-color: #646464;
      ;
      color: white;
  
      @media (max-width:768px) {
        display: none;
  
      }
    }
            .profile-img,
            .img-set {
              width: 150px;
              height: 150px;
              margin: 0 auto;
              border-radius: 100%;
      
            }
      
            .myimg {
              border-radius: 100%;
              height: 145px;
              width: 145px;
      
            }